#mainprofilePic {
  height: 100px;
  width: 100px;
  margin-top: 30px;
  object-fit: cover;
}
.vl {
  border-left: 6px solid green;
  height: 500px;
}

.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

.editProfile {
  width: 100%;
  margin-top: 10px;
  font-size: 0.9rem !important;
  border: 1px solid #a8a8a8 !important;
}

.divider {
  display: flex;
  width: 1px;
  background-color: lightgray;
  height: auto;
  margin-right: -15px;
}
.dividerh {
  display: flex;
  width: 100%;
  height: 1px;
  background-color: lightgray;
}
.p1 {
  text-align: left;
  color: gray;
  font-size: 0.9rem;
  margin-top: 20px;
}

.icon-text {
  font-size: 0.9rem;
}

.iconCol {
  width: 15px;
  text-align: center;
  margin-right: 10px;
  font-size: 0.9rem;
}

.clear {
  clear: both;
}

.column-first {
  padding-right: 0 !important;
  min-width: 250px !important;
}

.mHeader {
  color: #6b6b6b;
  font-size: x-large;
  padding-top: 15px;
}

.social-links {
  color: inherit;
}

.social-links:hover {
  color: inherit;
}

.pText {
  margin-top: 30px;
  color: gray;
  text-align: left;
  margin-bottom: 25px;
}

.ch {
  font-size: medium;
}

.profile {
  background-color: wh;
}

.tab {
  display: inline-block;
  margin-left: 7px;
}

.document-type-btn {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 15px;
  margin: 0;
  list-style: none;
}

.sort-btn {
  position: relative;
}

.icon-text {
  color: gray;
}

.profile-background {
  background-color: rgb(245, 243, 243);
}
