#profilePicEdit {
  border-radius: 50%;
  height: 120px;
  padding-top: 5px;
}

p {
  font-weight: 600;
  color: gray;
}
Form {
  font-weight: 600;
  color: gray;
}

h3 {
  margin-top: 50px;
  color: gray;
}

#nextBtn {
  background-color: coral;
  border-color: coral;
}
